@import "~bootstrap/scss/bootstrap";
.bodyMain {
    min-height: 100vh;
}
.active {
    font-weight: 700 !important;
}
.ant-table-wrapper .ant-table-pagination-right {
    justify-content: flex-start !important;
}
.ant-table-thead,
.ant-table-wrapper .ant-table-thead > tr > th {
    background: #f9f1e7 !important;
}
